[submodule "Materials/ggslac"]
	path = Materials/ggslac
	url = https://github.com/ctralie/ggslac.git
[submodule "Materials/SlerpViz"]
	path = Materials/SlerpViz
	url = https://github.com/COMPSCI290-S2016/SlerpViz.git
[submodule "Materials/MatrixTransformationsLive"]
	path = Materials/MatrixTransformationsLive
	url = https://github.com/ursinus-cs476-f2022/MatrixTransformationsLive.git
[submodule "Materials/EulerAnglesViz"]
	path = Materials/EulerAnglesViz
	url = https://github.com/COMPSCI290-S2016/EulerAnglesViz.git
[submodule "Materials/JavaScript_MOCAP_Animation"]
	path = Materials/JavaScript_MOCAP_Animation
	url = https://github.com/ctralie/JavaScript_MOCAP_Animation.git
[submodule "ClassExercises/Week1Exercises"]
	path = ClassExercises/Week1Exercises
	url = https://github.com/ursinus-cs476-f2022/Week1Exercises.git
