[submodule "Materials/ggslac"]
	path = Materials/ggslac
	url = https://github.com/ursinusgraphics/ggslac.git
[submodule "Materials/JavaScript_MOCAP_Animation"]
	path = Materials/JavaScript_MOCAP_Animation
	url = https://github.com/ursinusgraphics/JavaScript_MOCAP_Animation.git
[submodule "Materials/EulerAnglesViz"]
	path = Materials/EulerAnglesViz
	url = https://github.com/ursinusgraphics/EulerAnglesViz.git
[submodule "Materials/MatrixTransformationsLive"]
	path = Materials/MatrixTransformationsLive
	url = https://github.com/ursinusgraphics/MatrixTransformationsLive.git
[submodule "Materials/BarycentricExploration"]
	path = Materials/BarycentricExploration
	url = https://github.com/ursinusgraphics/BarycentricExploration.git
[submodule "Assignments/HW1_GeomPrimitives/HW1_GeomPrimitives"]
	path = Assignments/HW1_GeomPrimitives/HW1_GeomPrimitives
	url = https://github.com/ursinusgraphics/HW1_GeomPrimitives.git
[submodule "ClassExercises/Week1_Drawing/Week1Drawing"]
	path = ClassExercises/Week1_Drawing/Week1Drawing
	url = https://github.com/ursinusgraphics/Week1Drawing.git
[submodule "ClassExercises/Week3_Reflections/RayReflections2D"]
	path = ClassExercises/Week3_Reflections/RayReflections2D
	url = https://github.com/ursinusgraphics/RayReflections2D.git
[submodule "ClassExercises/Week3_RotateAroundPoint/Week3_RotateAroundPoint"]
	path = ClassExercises/Week3_RotateAroundPoint/Week3_RotateAroundPoint
	url = https://github.com/ursinusgraphics/Week3_RotateAroundPoint.git
[submodule "ClassExercises/RigidBodyAnim"]
	path = ClassExercises/RigidBodyAnim
	url = https://github.com/ursinusgraphics/RigidBodyAnim.git
[submodule "Materials/SlerpViz"]
	path = Materials/SlerpViz
	url = https://github.com/ursinusgraphics/SlerpViz.git
[submodule "Assignments/HW3_CharacterAnimation/HW3_CharacterAnimation"]
	path = Assignments/HW3_CharacterAnimation/HW3_CharacterAnimation
	url = https://github.com/ursinusgraphics/HW3_CharacterAnimation.git
[submodule "Assignments/HW4_PolygonMeshProcessing/HW4_PolygonMeshProcessing"]
	path = Assignments/HW4_PolygonMeshProcessing/HW4_PolygonMeshProcessing
	url = https://github.com/ursinusgraphics/HW4_PolygonMeshProcessing.git
[submodule "Assignments/HW2_SceneTrees/ArtContest/ggslac"]
	path = Assignments/HW2_SceneTrees/ArtContest/ggslac
	url = https://github.com/ctralie/ggslac.git
